<div class="jumbotron jumbotron-fluid" style="color:#fff;background:#9fa9a3">
  <div class="container">
    <h1 class="display-3 centering text-center">The Tech Spot</h1>
    <p class="lead centering text-center">find your connection.</p>
  </div>
</div>

<%= render 'items' %>
